.DS_Store
IBKR_data_export/.DS_Store
IBKR_data_export/IBKR_PortfolioAnalyse_30032026.csv
IBKR_data_export/interactive-brokers-handelsprotokoll-2026-03-29T09_40_35.829Z_7178d.csv
IBKR_data_export/interactive-brokers-kontoubersicht-3-2026-03-29T09_40_32.837Z_13c99.csv
IBKR_data_export/interactive-brokers-kontoubersicht-4-2026-03-29T09_40_32.838Z_157aa.csv
IBKR_data_export/interactive-brokers-margin-anforderungen-2026-03-29T09_40_32.836Z_f3e84.csv
IBKR_data_export/interactive-brokers-positionen-2026-03-29T09_40_21.470Z_62ab9.csv
IBKR_data_export/interactive-brokers-salden-1-2026-03-29T09_40_29.422Z_d3854.csv
IBKR_data_export/interactive-brokers-salden-2-2026-03-29T09_40_29.424Z_bb6de.csv
IBKR_data_export/interactive-brokers-trading-verlauf-2026-03-29T09_40_26.387Z_e671a.csv
IBKR_data_export/interactive-brokers-ubersicht-2026-03-29T09_40_32.834Z_df14e.csv
IBKR_data_export/Kontoauszug_30032026.csv
